-
    let menu =[
        {
            title : 'Merhaba',
            data_anchor : 'merhaba',
        },
        {
            title : 'Ben Kimim',
            data_anchor : 'ben-kimim',
        },
        {
            title : 'Neler Yapıyorum',
            data_anchor : 'neler-yapiyorum',
        },
        {
            title : 'Referanslarım',
            data_anchor : 'referanslarim',
        },
        {
            title : 'Bana Ulaşın',
            data_anchor : 'bana-ulasin',
        },
    ];
header.main-header.bg-white.position-fixed.fixed-top.border-bottom.border-gray
    .container
        .header-wrapper.d-flex.flex-column.justify-content-between.align-items-center.w-100
            .logo.py-3
                a(href='#merhaba')
                    img(src="./assets/img/logo.png" alt="Ravaze Logo" width="150px")
            nav.main-navbar.navbar.nav.justify-content-center.align-items-center.p-0
                ul.nav#menu
                    for m ,i in menu
                            li.nav-item(data-menuanchor=m.data_anchor)
                                a.nav-link.text-uppercase.text-muted.p-4(href='#'+m.data_anchor)=m.title
