-
    let menu =[
        {
            title : 'Merhaba',
            link : '#anasayfa',
        },
        {
            title : 'Ben Kimim',
            link : '#hakkimda',
        },
        {
            title : 'Neler Yapıyorum',
            link : '#neler-yapiyorum',
        },
        {
            title : 'Referanslarım',
            link : '#referanslarim',
        },
        {
            title : 'Bana Ulaşın',
            link : '#bana-ulasin',
        },
    ];
header.main-header.bg-white.position-fixed.fixed-top.border-bottom.border-gray.py-2
    .container
        .header-wrapper.d-flex.flex-column.justify-content-between.align-items-center.w-100
            .logo.py-3
                a(href="#")
                    img(src="./assets/img/logo.png" alt="Ravaze Logo" width="150px")
            nav.navbat.nav.justify-content-center.align-items-center
                ul.nav
                    for m ,i in menu
                        if(i !== 0)
                            li.nav-item
                                a.nav-link.text-uppercase.text-muted.p-4(href=m.link)=m.title
                        else
                            li.nav-item.active
                                a.nav-link.text-uppercase.text-dark.p-4.active(href=m.link)=m.title
