// Stylesheet start
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Rochester&display=swap&subset=latin-ext' rel='stylesheet')
link(rel='stylesheet' type='text/css' media='screen' href='assets/css/icofont.min.css')
link(rel='stylesheet' type='text/css' media='screen' href='assets/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' media='screen' href='assets/css/plugins-bundle.min.css')
link(rel='stylesheet' type='text/css' media='screen' href='assets/css/main.min.css')
// Stylesheet end
