// Basic seo optimization start
meta(name='title' content='SITE NAME')
meta(name='description' content='SITE DESCRIPTION')
meta(name='keywords' content='KEY WORDS')
meta(name='author' content='SITE ADMINISTRATOR')
meta(name='owner' content='SITE AUTHOR')
meta(name='copyright' content='COPYRIGHT YEAR')
// Basic seo optimization end
