doctype html
html(lang="tr")
  head
    include ./lib/seo.pug
    include ./lib/css.pug
  body.home
    include ./lib/header/header.pug
    main#fullpage
      section.section(data-anchor="merhaba")
        section.slider.py-md-5
          .container
            .main-carousel.owl-carousel.owl-theme
              .item
                .row.justify-content-between.align-items-center
                  .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    .content.d-flex.flex-column.justify-content-center.align-items-end.w-100
                      h1.display-4.font-weight-light.text-dark.line-height-1.mb-2
                        strong.heading-first-word.font-weight-900.mr-2 Hey 
                        |Merhaba !
                      h2.font-weight-light.mb-2 ben ,
                        strong.font-weight-900 Emre Zavar
                      .divider.my-4
                        img(src="./assets/img/divider.svg" alt="" style="width:115px;")
                      p.text-muted.text-right.small Ravaze olarak web tasarım dünyasına yeni bir değer katmak için yola çıktık. Bu anlamda genç ve dinamik ekibimizle beraber yaratıcılık sınırlarını zorluyoruz. Çünkü biz, farklı olmanın değer yaratmak için gerekli olduğunun bilincindeyiz. Günümüz tasarım teknolojisine uygun, mobil uyumlu, kurumsal kimliğinizi haykıran ve ziyaretçi deneyimini arttıran web tasarım çözümleriyle farkı, yani değeri ortaya koyuyoruz. 
                  .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
                    .image-holder.d-flex.justify-content-end.align-items-center.w-100
                      img(src="./assets/img/slider1.png" alt="").w-auto.mw-100
        .d-flex.justify-content-center.align-items-center.w-100.position-absolute.fixed-bottom.mb-5.pb-5
          a(href="#ben-kimim").discovery-btn.btn.btn-outline-primary.rounded-circle.d-flex.justify-content-center.align-items-center.line-height-0
            i.icofont-hand-down.icofont-2x.mt-1
      section.section(data-anchor="ben-kimim")
        .container
          .row.justify-content-between.align-items-center
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .d-flex.flex-column.justify-content-center.align-items-start.w-100
                img(src="https://render.bitstrips.com/v2/cpanel/011cb6f0-ec8a-4508-b381-7e38b5a2e96c-1dcedf6a-beb5-41e5-95f5-d1c6e50812c5-v1.png?transparent=1&palette=1", alt="")
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .d-flex.flex-column.justify-content-center.align-items-start.w-100
                h1.display-4.font-weight-light.text-dark.line-height-1.mb-2 
                  strong.heading-first-word.font-weight-900.mr-2 Ben
                  |Kimim ?
                .divider.my-4
                  img(src="./assets/img/divider.svg" alt="" style="width:115px;")
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro eos, quos maxime tempore officiis praesentium fugit dolore, voluptas a, ad placeat harum rerum fugiat quas officia saepe voluptatum voluptatibus corrupti?
      section.section(data-anchor="neler-yapiyorum")
        .container
          .position-absolute.right-0.bottom-0
            img(src="https://render.bitstrips.com/v2/cpanel/31ae76e5-2eee-4dc9-8ed5-b612fad732e7-1dcedf6a-beb5-41e5-95f5-d1c6e50812c5-v1.png?transparent=1&palette=1", alt="")
          .row.mt-5.pt-5
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .d-flex.flex-column
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Html
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 100%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 100%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Css
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 100%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 100%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Js
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 55%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 55%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Php
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 40%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 40%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Sass
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 90%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 95%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Pug
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 90%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 90%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Angular.js / Vue.js
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 30%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 30%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Wordpress
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 90%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 90%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Photoshop
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 90%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 90%
                .d-flex.justify-content-between.align-items-center.w-100.mb-4
                  .lang.w-100 Illustrator
                  .progress.rounded-lg.w-100
                    div.progress-bar.bg-dark.rounded-lg(style="width: 65%"  ,aria-valuenow="25" ,aria-valuemin="0" ,aria-valuemax="100") 65%
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
              div.pl-5.ml-5 
                h1.display-4.font-weight-light.text-dark.line-height-1.mb-2
                  strong.heading-first-word.font-weight-900.mr-2 Kulandığım diller & 
                  |teknolojiler
                .divider.my-4
                  img(src="./assets/img/divider.svg" alt="" style="width:115px;")
                h6.text-dark Yazılım
                p.text-muted.small rem ipsum dolor sit amet, consectetur adipisicing elit. Esse repudiandae facere maiores natus consectetur at doloribus corporis. At, ex voluptatum nostrum tempore pariatur officia, soluta, mollitia assumenda perferendis corrupti veniam?
                h6.text-dark Tasarım
                p.text-muted.small Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, earum cumque. Est accusantium ab saepe qui! Deleniti voluptatum libero sequi rerum placeat consequuntur minima nisi, omnis quo laudantium, beatae assumenda.
      section.section(data-anchor="referanslarim")
        .row.mx-5(style="margin-top:12rem;margin-bottom:12rem")
          - for (var i = 1; i < 36; i++)
            .col-12.col-sm-2.col-md-2
              .border.border-gray.p-3.mb-4
                a(href="./assets/img/ref/origin/"+i+'.jpg',data-fancybox="referanslar")
                  img(src="./assets/img/ref/"+i+'.png', alt=i).w-100
      section.section(data-anchor="bana-ulasin")
        .container
          .row
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6
              div.pl-5.ml-5 
              h1.display-4.font-weight-light.text-dark.line-height-1.mb-2
                strong.heading-first-word.font-weight-900.mr-2 Sosyal
                |Medya
              .divider.my-4
                img(src="./assets/img/divider.svg" alt="" style="width:115px;")
              .social.d-flex.flex-nowrap.flex-column.justify-content-center.align-items-start
                .row
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-facebook.w-100.p-3.rounded-0
                      i.icofont.icofont-facebook.icofont-2x.mr-3
                      |Facebook
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-twitter.w-100.p-3.rounded-0
                      i.icofont.icofont-twitter.icofont-2x.mr-3
                      |Twitter
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-instagrammagenta.w-100.p-3.rounded-0
                      i.icofont.icofont-instagram.icofont-2x.mr-3
                      |Instagram
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-linkedin.w-100.p-3.rounded-0
                      i.icofont.icofont-linkedin.icofont-2x.mr-3
                      |Linkedin
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-pinterest.w-100.p-3.rounded-0
                      i.icofont.icofont-pinterest.icofont-2x.mr-3
                      |Pinterest
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-whatsappgreen.w-100.p-3.rounded-0
                      i.icofont.icofont-whatsapp.icofont-2x.mr-3
                      |WhatsApp
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-dark.w-100.p-3.rounded-0
                      i.icofont.icofont-code-alt.icofont-2x.mr-3
                      |Codepen
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-dark.w-100.p-3.rounded-0
                      i.icofont.icofont-github.icofont-2x.mr-3
                      |Github
                  .col-sm-4.col-md-4.col-lg-4.pb-3
                    a(href="#").btn.btn-sm.btn-outline-dark.w-100.p-3.rounded-0
                      i.icofont.icofont-envato.icofont-2x.mr-3
                      |Envato
            .col-12.col-xs-6.col-sm-6.col-md-6.col-lg-6.position-static
              .pl-md-5.ml-md-5
                h1.display-4.font-weight-light.text-dark.line-height-1.mb-2
                  strong.heading-first-word.font-weight-900.mr-2 İletişime
                  |Geç
                .divider.my-4
                  img(src="./assets/img/divider.svg" alt="" style="width:115px;")
                div.d-flex.flex-column.justify-content-between.align-items-start.w-100.mb-3
                  h5.mb-0
                    |EMRE ZAVAR
                  small.font-size-12.text-muted
                    |Front End Developer
                div.d-flex.justify-content-between.align-items-center.w-100.mb-3.border-bottom.border-gray.pb-3
                  span Telefon No:
                  a(href="tel:+905063869319").text-dark.font-weight-bold 506 386 93 19
                div.d-flex.justify-content-between.align-items-center.w-100.mb-3.border-bottom.border-gray.pb-3
                  span E-Posta:
                  a(href="mailto:info@ravaze.com").text-dark.font-weight-bold info@ravaze.com
                div.d-flex.justify-content-between.align-items-center.w-100.mb-3
                  span E-Posta:
                  a(href="mailto:zavaremre@gmail.com").text-dark.font-weight-bold zavaremre@gmail.com
                div.d-flex.justify-content-center.align-items-center.position-absolute.bottom-0.left-0
                  img(src="https://render.bitstrips.com/v2/cpanel/c7cb9dee-3c6f-488e-96e3-76db13f87c0d-1dcedf6a-beb5-41e5-95f5-d1c6e50812c5-v1.png?transparent=1&palette=1", alt="")
               
      include ./lib/footer/footer.pug
    include ./lib/script.pug